
Certificates/APNs-Certificates.p12
Certificates/aps.cer
Certificates/AuthKey_79H6Y7N3NK.p8
Certificates/AuthKey_DN9N285GAF.p8
Certificates/Certificates.p12
Certificates/CryptoChatProvisioningProfile.mobileprovision
Certificates/development.cer
Certificates/development_provision.mobileprovision
Certificates/distribution.cer
Certificates/EZMac-aps_development.cer
Certificates/EZMac-CertificateSigningRequest.certSigningRequest
Certificates/EZMac-development.cer
Certificates/first.apn
Certificates/provision_distribution.mobileprovision
Resources/.DS_Store
Resources/26.png
Resources/2992775.ai
Resources/3298064.ai
Resources/3973477.ai
Resources/5914.eps
Resources/aliens/Asset 3@3x-100.jpg
Resources/aliens/Asset 4@3x-100.jpg
Resources/aliens/Asset 5@3x-100.jpg
Resources/aliens/Asset 6@3x-100.jpg
Resources/aliens/Asset 7@3x-100.jpg
Resources/aliens/Asset 7@3x-100.png
Resources/aliens/Asset 7@3x-1001.png
Resources/aliens/Asset 8@3x-100.jpg
Resources/blob-scene.svg
Resources/BusinessCards/javiergomez-back.png
Resources/BusinessCards/javiergomez-front.png
Resources/BusinessCards/locknkeyBC.psd
Resources/colorful-alphabet-square/License free.txt
Resources/colorful-alphabet-square/License premium.txt
Resources/colorful-alphabet-square/OF16770.jpg
Resources/colorful-alphabet-square/OF16771.eps
Resources/Colors Palette.png
Resources/iOS Phones - 5.5"/screenshot1 2.jpeg
Resources/iOS Phones - 5.5"/screenshot2 2.jpeg
Resources/iOS Phones - 5.5"/screenshot3 2.jpeg
Resources/iOS Phones - 5.5"/screenshot4 2.jpeg
Resources/iOS Phones - 5.5"/screenshot5 2.jpeg
Resources/iOS Phones - 6.5"/screenshot1.jpeg
Resources/iOS Phones - 6.5"/screenshot2.jpeg
Resources/iOS Phones - 6.5"/screenshot3.jpeg
Resources/iOS Phones - 6.5"/screenshot4.jpeg
Resources/iOS Phones - 6.5"/screenshot5.jpeg
Resources/IxWnpZtnKC3C_6426_2688.png
Resources/logo.pdf
Resources/logo.png
Resources/logoLocked.pdf
Resources/logoSmall.png
Resources/page1.psd
Resources/page2.psd
Resources/page3.psd
Resources/qr-code.png
Resources/QRCode.png
Resources/QRCode.psd
Resources/Screen Shot 2022-06-01 at 4.09.25 PM.png
Resources/Screen Shot 2022-06-01 at 4.09.38 PM.png
Resources/Screen Shot 2022-06-01 at 4.34.25 PM.png
Resources/Simulator Screen Shot - iPhone 12 Pro - 2021-09-17 at 16.36.59.png
Resources/Simulator Screen Shot - iPhone 12 Pro - 2021-09-19 at 14.46.17.png
Resources/Simulator Screen Shot - iPhone 12 Pro Max - 2021-09-17 at 16.42.46.png
Resources/Simulator Screen Shot - iPhone 12 Pro Max - 2021-09-17 at 16.43.00.png
Resources/Simulator Screen Shot - iPhone 12 Pro Max - 2021-09-19 at 14.41.03.png
CryptoChat/Controller/Encryption/Encryption.swift
CryptoChat/Controller/PasscodeViewController.swift
CryptoChat/Support/GoogleService-Info.plist
CryptoChat/Support/Info.plist
.DS_Store
.DS_Store
.DS_Store
